<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Historico</title>
</head>
<body>
    <div class="conteudo">
        <header class="cabecalho">
            <div class="conteiner">
                <a href="" class="link">Agenda de consultas</a>
                <a href="" class="link">Prescricoes e atestados</a>
                <a href="" class="link">Historico de consultas</a>
                <a href="" class="link">Gerenciamento de Horarios</a>
            </div>
            <div class="conteiner">
                <a href="#" class="img_link"><img src="static/img/notificacoes.svg" alt="Notificacoes" class="img_link"></a>
                <a href="#" class="img_link"><img src="static/img/perfil.svg" alt="perfil" class="img_link"></a>
            </div>
        </header>

<div class="agenda">
    <div class="agenda_agenda">Agenda</div>
    <table>
        <thead>
            <tr>
                <th>Consulta</th>
                <th>Nome paciente</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Data e hora</th>
                <th><a href="#" class="botao">Ver prescricao</a></th>
            </tr>
        </thead>
    <tbody>
            <tr>
                <th>Consulta</th>
                <th>Nome paciente</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Data e hora</th>
                <th><a href="#" class="botao">Ver prescricao</a></th>
            </tr>
        </thead>
    </table>    
</div>
    </div>
    
</body>
</html>