{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="{% static 'contas/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'contas/senha.png' %}" alt="Ícone de senha">
        </div>
        <h2>Redefinir senha</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="usuario" placeholder="Informe seu usuário ou CPF" required>
            <br>
            <button type="submit">Redefinir</button>
        </form>
        </div>
    </div>
</body>
</html>
